<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Up</h1>
        <p class="text-xs-center"><a [routerLink]="['/login']">Have an account?</a></p>
        <app-back-end-message *ngIf="validationErrors$ | async as errors" [errors] = errors>
        </app-back-end-message>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="spinner-container" *ngIf="isSubmitting$ | async; else formFields">
            <app-spinner></app-spinner>
          </div>
          <ng-template #formFields>
            <fieldset>
              <fieldset class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="UserName" formControlName="username">
              </fieldset>
            </fieldset>
            <fieldset>
              <fieldset class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Email" formControlName="email">
              </fieldset>
            </fieldset>
            <fieldset>
              <fieldset class="form-group">
                <input [type]="password ? 'password' : 'text'" class="form-control form-control-lg" placeholder="Password" formControlName="password">
              </fieldset>
            </fieldset>
            <div class="input-group">
            <input type="checkbox" class="form-check-input" id="checkbox" (change)="password = !password">
            <label for="checkbox" class="form-check-label">Show password</label>
          </div>
            <button class="btn btn-lg btn-success btn-block" type="submit" [disabled]="!form.valid">Sign Up</button>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>
